<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--POPPINS A FONTE-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--FIM POPPINS A FONTE-->
    <!--ICONS BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--FIM ICONS BOOTSTRAP-->

    <link rel="stylesheet" href="../Stye.css">
    <title>GrimasDesigner</title>
</head>
<body>

    <main>
        <section class="topo-do-site">
            <div class="interface">
                <div class="flex">

                    <div class="img">
                        <img src="../img/pessoa.png" alt="GrimasDesigner">
                    </div>
                    <div class="formulario">
                        <div class="interface">
                            <h2 class="titulo">SEJA <span>BEM VINDO.</span></h2>

                            <form action="">
                                <label for="nome">Nome</label>
                                    <input type="text" name="" id="nome" placeholder="Seu Nome" required>
                                <label for="email">E-mail</label>
                                    <input type="imail" name="" id="email" placeholder="Seu e-mail" required>
                                <label for="tlfn">celular</label>
                                    <input type="senha" name="" id="tlfn" placeholder="Seu celular" >
                                <label for="senha">Senha</label>
                                    <input type="password" name="" id="senha" placeholder="Senha" required>
                                <div class="btn-enviar">
                                    <button><a href="../home/index.html">ENTRAR</a></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!--conteudo-->
        </section><!--trabalhe comigo area-->
