<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--POPPINS A FONTE-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--FIM POPPINS A FONTE-->
    <!--ICONS BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--FIM ICONS BOOTSTRAP-->

    <link rel="stylesheet" type="text/css" href="stye.css">
    <title>GrimasDesigner</title>
</head>
<body>

    <header>
        <div class="interface"> 
            <div class="logo">
                <a href="../home/index.html">
                    <img src="../img/logo.png" alt="GrimasLogo">
                </a>
            </div><!--Logo-->

            <nav class="menu">
                <ul>
                    <li><a class="inicio" href="../home/index.html">Início</a></li>
                    <li><a href="../home/especialidades.html">Especialidade</a></li>
                    <li><a href="../home/sobre.html">Sobre</a></li>
                    <li><a href="../home/projectos.html">Projectos</a></li>
                </ul>
            </nav><!--Secções do meio-->

            <div class="btn-contacto">
                <a href="../home/contacto.html">
                    <button>Contacto</button>
                </a>
            </div>
        </div>
    </header><!--barrra de cima-->
<main>
    <div><img src="../home/assets/hd2.png" alt=""></div>
    <section class="Especialidades">    
        <div class="interface">
            <h2 class="titulo">Adicionar uma <span>VideoAula.</span></h2>
                <div class="flex">
                    <img src="../home/assets/img.png" alt="learn">
                    <div class="especialidades-box">
                        <h2>Adicione uma video aula para ajudar os demais a desenvolver as suas <span> expecialidades.</span></h2>
                        <p> </p>
                        <form action="/videoaula" method="post">
                            <input type="text" placeholder="Apelido" name="name">
                            <input type="text" placeholder="videoaula" name="videoaula">
                            <input type="submit" placeholder="postar">
                        </form>  
                    </div><!--Cards de especialidades-->
                </div><!--flex-->
        </div><!--interface-->
    </section><!--Especialidades-->
    <section class="portfolio">
        <div class="interface">
            <a href="/display4x"><h2 class="titulo"><span>Veja as </span>Videoaulas</h2></a>
            <div class="flex">
            </div><!--flex-->
        </div><!--interface-->
    </section><!--Poortfolio-->
</main>
</body>
</html>