<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--POPPINS A FONTE-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--FIM POPPINS A FONTE-->
    <!--ICONS BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--FIM ICONS BOOTSTRAP-->

    <link rel="stylesheet" href="../Stye.css">
    <title>GrimasDesigner</title>
</head>
<body>

    <header>
        <div class="interface"> 
            <div class="logo">
                <a href="../home/index.html">
                    <img src="../img/logo.png" alt="GrimasLogo">
                </a>
            </div><!--Logo-->

            <nav class="menu">
                <ul>
                    <li><a class="inicio" href="../home/index.html">Início</a></li>
                    <li><a href="../especialidades/index.html">Especialidade</a></li>
                    <li><a href="../sobre/index.html">Sobre</a></li>
                    <li><a href="../projectos/index.html">Projectos</a></li>
                </ul>
            </nav><!--Secções do meio-->

            <div class="btn-contacto">
                <a href="../contacto/index.html">
                    <button>Contacto</button>
                </a>
            </div>
        </div>
    </header><!--barrra de cima-->
    <section class="portfolio">
        <div class="interface">
            <h2 class="titulo">MEU <span>PORTFÓLIO.</span></h2>
            <div class="flex">
                <div class="img-port" style="background-image: url(../img/feli3.png);">
                    <div class="overlat">Feliciana W.</div>
                </div>
                <div class="img-port" style="background-image: url(../img/feli4.png);">
                    <div class="overlat">LIL MENDEZ.</div>
                </div>
                <div class="img-port" style="background-image: url(../img/feli2.png);">
                    <div class="overlat"><a href="https://www.instagram.com/grimas.designer/">Go see my insta</a></div>
                </div>
            </div><!--flex-->
        </div><!--interface-->
    </section><!--diversos-->

    <section class="portfolio">
        <div class="interface">
            <h2 class="titulo">Convites<span>.</span></h2>
            <div class="flex">
                <div class="img-port" style="background-image: url(../img/vit.png);">
                    <div class="overlat">Convite da Vitória</div>
                </div>
                <div class="img-port" style="background-image: url(../img/vitjo.png);">
                    <div class="overlat">Convite do José</div>
                </div>
                <div class="img-port" style="background-image: url(../img/vit.png);">
                    <div class="overlat">Convite da Vitória</div>
                </div>
            </div><!--flex-->
        </div><!--interface-->
    </section><!--convites-->
   
    <section class="portfolio">
        <div class="interface">
            <h2 class="titulo">Logotipos<span>.</span></h2>
            <div class="flex">
                <div class="img-port" style="background-image: url(../img/logo2.png);">
                    <div class="overlat">Macial da Luz logo</div>
                </div>
                <div class="img-port" style="background-image: url(../img/logo3.png);">
                    <div class="overlat">Rubiany logo</div>
                </div>
                <div class="img-port" style="background-image: url(../img/logo4.png);">
                    <div class="overlat">Strict logo</div>
                </div>
            </div><!--flex-->
        </div><!--interface-->
    </section><!--logos-->

    <section class="portfolio">
        <div class="interface">
            <h2 class="titulo">Logotipos 2<span>.</span></h2>
            <div class="flex">
                <div class="img-port" style="background-image: url(../img/logo5.png);">
                    <div class="overlat">911 logo</div>
                </div>
                <div class="img-port" style="background-image: url(../img/logo6.png);">
                    <div class="overlat">FCR logo</div>
                </div>
                <div class="img-port" style="background-image: url(../img/logo7.png);">
                    <div class="overlat">Reparation Systeam logo</div>
                </div>
            </div><!--flex-->
        </div><!--interface-->
    </section><!--logos 2-->

    <section class="portfolio">
        <div class="interface">
            <h2 class="titulo">Logotipos 3<span>.</span></h2>
            <div class="flex">
                <div class="img-port" style="background-image: url(../img/logo8.png);">
                    <div class="overlat">Nitro logo</div>
                </div>
                <div class="img-port" style="background-image: url(../img/logo9.png);">
                    <div class="overlat">Omega FC logo</div>
                </div>
                <div class="img-port" style="background-image: url(../img/logo10.png);">
                    <div class="overlat">Luzzy store logo</div>
                </div>
            </div><!--flex-->
        </div><!--interface-->
    </section><!--logos 3-->

    <section class="portfolio">
        <div class="interface">
            <h2 class="titulo">Fortnite Works<span>.</span></h2>
            <div class="flex">
                <div class="img-port" style="background-image: url(../img/fort.png);">
                    <div class="overlat">NG duo Welcome</div>
                </div>
                <div class="img-port" style="background-image: url(../img/fort2.png);">
                    <div class="overlat">Ng Welcome</div>
                </div>
                <div class="img-port" style="background-image: url(../img/fort3.png);">
                    <div class="overlat">Strict Welcome</div>
                </div>
            </div><!--flex-->
        </div><!--interface-->
    </section><!--fortnite works 1-->

    <section class="portfolio">
        <div class="interface">
            <h2 class="titulo">Fortnite Works<span>.</span></h2>
            <div class="flex">
                <div class="img-port" style="background-image: url(../img/fort4.png);">
                    <div class="overlat">MIDNIGHT Welcome</div>
                </div>
                <div class="img-port" style="background-image: url(../img/fort5.png);">
                    <div class="overlat">MVP Welcome</div>
                </div>
                <div class="img-port" style="background-image: url(../img/fort6.png);">
                    <div class="overlat">FCR Welcome</div>
                </div>
            </div><!--flex-->
        </div><!--interface-->
    </section><!--fortnite works 2-->
</body>
</html>
