<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--POPPINS A FONTE-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--FIM POPPINS A FONTE-->
    <!--ICONS BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--FIM ICONS BOOTSTRAP-->

    <link rel="stylesheet" href="../Stye.css">
    <title>GrimasDesigner</title>
</head>
<body>

    <header>
        <div class="interface"> 
            <div class="logo">
                <a href="../home/index.html">
                    <img src="../img/logo.png" alt="GrimasLogo">
                </a>
            </div><!--Logo-->

            <ul>
                <li><a class="inicio" href="../home/index.html">Início</a></li>
                <li><a href="../especialidades/index.html">Especialidade</a></li>
                <li><a href="../sobre/index.html">Sobre</a></li>
                <li><a href="../projectos/index.html">Projectos</a></li>
            </ul>
            </nav><!--Secções do meio-->

            <div class="btn-contacto">
                <a href="../contacto/index.html">
                    <button>Contacto</button>
                </a>
            </div>
        </div>
    </header><!--barrra de cima-->
    <section class="Especialidades">
        <div class="interface">
            <h2 class="titulo">VISITE O MEU CANAL NO <span>YOUTUBE.</span></h2>
                <div class="flex">
                    <div class="especialidades-box">
                        <img src="img/ytb.png" alt="youtube">
                    </div><!--Cards de especialidades-->

                    <div class="especialidades-box">
                        <i class="bi bi-youtube"></i>
                        <h3>Aprenda comigo</h3>
                        <p>Passe pelo meu canal do youtube e lá voçê encontrará os mais diversos tutoriais para quem almeja começar na área do design.
                        </p>    
                    </div><!--Cards de especialidades-->


                </div><!--flex-->
                <div class="btn-contacto">
                    <a href="https://www.youtube.com/channel/UCz1jLY1bcY71NIbmkWYjSBg">
                        <button>Meu Youtube</button>
                    </a>
                </div>
        </div><!--interface-->
    </section><!--Especialidades-->
</body>
</html>
